<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="endRow" value="1"></parameter>
  <parameter name="startRow" value="1"></parameter>
  <parameter name="csvFile" value="C:\\REKHA\\guru99\\src\\testresources"></parameter>
  
  <groups>	
			<run>	
   					 <include name="regresion" />	
        		</run>	
       		</groups>	
    <classes>
      <class name="FirstClass.TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
